@model IEnumerable<CinemaWeb.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Active"] = "true";
}

<h1>List of Movies</h1>

<p>
    <a class="btn btn-success " asp-action="Create">Create New</a>
</p>
<table class="table" id="table-movies">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time) (mins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody id="tbody-tbl-movies">
    </tbody>
</table>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/multiple-select/multiple-select.js"></script>
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        var js = jQuery.noConflict(true);
        // Instance variable
        let MoviesData = [];


        $(document).ready(function () {
            LoadMoviesData();
        });

        function LoadMoviesData() {
            js.ajax({
                async: false,
                url: '/Manager/ManageMovies/GetData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data.data);
                    MoviesData = data.data;
                },
                error: function (msg) {
                    console.log(msg);
                }
            });

            $("#table-movies").DataTable({
                data: MoviesData,
                columns: [
                    {
                        data: null,
                        render: function (data) {
                            return '<a style="text-decoration:none; font-weight: bolder;" href="/Manager/ManageMovies/Details/' + data.movieId + '">' + data.movieName + '</a>';
                        }
                    },
                    { data: 'type' },
                    { data: 'time' },
                    {
                        data: 'releaseDate',
                        render: function (data) {
                            return new Date(data).toLocaleDateString('en-GB');
                        }
                    },
                    {
                        data: 'endDate',
                        render: function (data) {
                            return new Date(data).toLocaleDateString('en-GB');
                        }
                    },
                    {
                        data: 'status',
                        render: function (data) {
                            if (data === 1) return '<p style="color: #b535cb; font-weight: bold" >Upcoming</p>';
                            else if (data === 2) return '<p style="color: green; font-weight: bold" >Screening</p>';
                            else return '<p style="color: red; font-weight: bold">Closed</p>';
                        }
                    },
                    {
                        data: 'movieId',
                        render: function (data) {
                            return '<a class="btn btn-outline-success" href="/Manager/ManageMovies/Edit/' + data + '"><i class="material-icons">&#xE254;</i> </a>';
                        }
                    },
                    {
                        data: 'movieId',
                        render: function (data) {
                            return '<a class="btn btn-outline-danger" href="/Manager/ManageMovies/Delete/' + data + '"><i class="material-icons">delete</i> </a>';
                        }
                    }
                ]
            });

        }


    </script>
}