@model IndexViewModel

@{
    ViewData["Title"] = "MANAGE YOUR PROFILE";
}

<h1>@ViewData["Title"].</h1>
<p class="text-success">@ViewData["StatusMessage"]</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #f2f6fc;
            color: #69707a;
        }

        .img-account-profile {
            height: 10rem;
        }

        .rounded-circle {
            border-radius: 50% !important;
        }

        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }

            .card .card-header {
                font-weight: 500;
            }

        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }

        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }

        .form-control, .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }

        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .custom-file-input {
            color: transparent;
        }

            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
            }

            .custom-file-input::before {
                content: 'Change avatar';
                color: black;
                display: inline-block;
                background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
                border: 1px solid #999;
                border-radius: 3px;
                padding: 5px 8px;
                outline: none;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                text-shadow: 1px 1px #fff;
                font-weight: 700;
                font-size: 10pt;
                margin-left: 5.5rem;
            }

            .custom-file-input:hover::before {
                border-color: black;
            }

            .custom-file-input:active {
                outline: 0;
            }

                .custom-file-input:active::before {
                    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                }

        body {
        }

    </style>
</head>
<body>
    <div class="container-xl px-4 mt-4">

        <nav class="nav nav-borders">
            <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page" target="__blank">Billing</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page" target="__blank">Security</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page" target="__blank">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">

                <form id="form-avatar" method="post" enctype="multipart/form-data">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center" id="img-avatar">

                            @if (Model.CurrentUserAvatar != null)
                            {
                                <img class="img-account-profile rounded-circle mb-2" src="/Contents/UserAvatar/@Model.CurrentUserAvatar">
                            }
                            else
                            {
                                <img class="img-account-profile rounded-circle mb-2" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            }

                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <input onchange="changeAvatar()" class="custom-file-input" asp-for="@Model.Avatar" />
                            <button style="display: none" id="button-change-avatar" class="btn btn-primary" asp-action="UploadPhoto" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-8">

                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username</label>
                                <input class="form-control" value="@Model.profile.UserName" disabled>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-12">
                                    <label class="small mb-1" for="inputOrgName">Email</label>
                                    <input class="form-control" value="@Model.profile.UserEmail" disabled>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1">Phone Number</label>
                                    <input class="form-control" value="@Model.profile.PhoneNumber" disabled>
                                </div>
                                <div style="margin-top: 2.2rem" class="col-md-6">
                                    @if (Model.PhoneNumber != null)
                                    {
                                        <a style="text-decoration:none" class="btn btn-primary btn-sm" asp-controller="Manage" asp-action="AddPhoneNumber">Change</a>
                                        @* <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" role="form">
                                            <button type="submit" class="btn btn-danger btn-sm">Remove phone</button>
                                        </form> *@
                                    }
                                    else
                                    {
                                        <text>&nbsp;&nbsp;<a style="" class="btn btn-primary btn-sm" asp-controller="Manage" asp-action="AddPhoneNumber">Add phone</a></text>
                                    }
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Password</label>
                                    @if (Model.HasPassword)
                                    {
                                        <a style="text-decoration:none" class="text-light form-control bg-primary" asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
                                    }
                                    else
                                    {
                                        <a style="text-decoration:none" class="text-light form-control bg-primary" asp-controller="Manage" asp-action="SetPassword">Add Password</a>
                                    }
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">External account link</label>
                                    (@Model.Logins.Count)
                                    <a style="text-decoration:none" class="text-light form-control bg-primary" asp-controller="Manage" asp-action="ManageLogins">Manage external login</a>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1">
                                        Two-factor authentication
                                        @if (Model.TwoFactor)
                                        {
                                            <span style="color: green">(Activating)</span>
                                        }
                                    </label>
                                    @if (Model.TwoFactor)
                                    {
                                        <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                                            <button type="submit" class="text-light form-control bg-danger">Cancel</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                                            <button type="submit" class="text-light form-control bg-primary">Active</button>
                                        </form>
                                    }
                                </div>

                                <div class="col-md-6">
                                </div>
                            </div>

                            <a asp-action="Index" asp-controller="Home">Return Home</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            // LoadAvatar()
        });

        function changeAvatar() {
            let f = document.getElementById('button-change-avatar');
            f.click();
        }
    </script>
</body>
</html>
