@model List<HnganhCinema.ViewModels.Booking.SeatViewModel>
@using CinemaWeb.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> _userManager

@{
    Movie movie = ViewBag.movie;
    Showtime showtime = ViewBag.showtime;
    Room room = ViewBag.room;
    AppUser CurrentUser = _userManager.GetUserAsync(User).Result;
}
<head>
    <link href="~/css/booking/seat.css" rel="stylesheet" />
    <link href="~/sourcetemplate/adminview/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" type="text/css" />
    <style>
        .switch {
            display: inline-block;
            height: 24px;
            position: relative;
            width: 45px;
            margin-left: 0rem;
            margin-bottom: -0.3rem;
        }

            .switch input {
                display: none;
            }

        .slider {
            background-color: #ccc;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
        }

            .slider:before {
                background-color: #fff;
                bottom: 5px;
                content: "";
                height: 16px;
                left: 4px;
                position: absolute;
                transition: .3s;
                width: 16px;
            }

        input:checked + .slider {
            background-color: #66bb6a;
        }

            input:checked + .slider:before {
                transform: translateX(20px);
            }

        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
</head>

<body>
    <input type="hidden" id="showtime-id" value="@showtime.ShowtimeId" />
    <input type="hidden" id="booking-date" value="@showtime.StartTime.ToString("MM-dd-yyyy HH:mm")" />
    <input type="hidden" id="account-id" value="@CurrentUser.Id" />
    <input type="hidden" id="point" value="@CurrentUser.TotalPoint.GetValueOrDefault().ToString("#,##0.00")" />
    <div class="movie-container">
    </div>

    <div style="margin-top: 0rem;" class="container">

        <div class="row">
            <div class="row col-md-8">
                <ul class="showcase">
                    <li>
                        <div class="seat"></div>
                        <small>Normal</small>
                    </li>
                    <li>
                        <div style="background-color: orange" class="seat normal"></div>
                        <small>Vip</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>Selected</small>
                    </li>
                    <li>
                        <div class="seat occupied"></div>
                        <small>Occupied</small>
                    </li>
                </ul>
                <div class="screen"></div>
                @{
                    var count = 0;
                }
                @for (int i = 1; i <= room.NumberRow; i++)
                {
                    <div class="row col-md-12">
                        @for (int j = 1; j <= room.NumberCol; j++)
                        {
                            count++;
                            if (ViewBag.seatStatus != null)
                            {
                                if (ViewBag.seatStatus.Contains(Model[count].SeatId.ToString()))
                                {
                                    <div id="@(Model[count].SeatId)"
                                         class="col col-lg-1 place mx-auto unbooked seat occupied">
                                        @(Model[count].SeatName)
                                    </div>
                                }
                                else if (Model[count].PriceId == 2 || Model[count].PriceId == 4)
                                {
                                    <div onclick="getSelectedSeat(this)"
                                         id="@(Model[count].SeatId)"
                                         class="col col-lg-1 place mx-auto unbooked seat normal">
                                        @(Model[count].SeatName)
                                    </div>
                                }
                                else if (Model[count].PriceId == 1 || Model[count].PriceId == 3)
                                {
                                    <div onclick="getSelectedSeat(this)"
                                         id="@(Model[count].SeatId)"
                                         class="col col-lg-1 place mx-auto unbooked seat vip">
                                        @(Model[count].SeatName)
                                    </div>
                                }
                            }
                            else
                            {
                                if (Model[count].PriceId == 2 || Model[count].PriceId == 4)
                                {
                                    <div onclick="getSelectedSeat(this)"
                                         id="@(Model[count].SeatId)"
                                         class="col col-lg-1 place mx-auto unbooked seat normal">
                                        @(Model[count].SeatName)
                                    </div>
                                }
                                else if (Model[count].PriceId == 1 || Model[count].PriceId == 3)
                                {
                                    <div onclick="getSelectedSeat(this)"
                                         id="@(Model[count].SeatId)"
                                         class="col col-lg-1 place mx-auto unbooked seat vip">
                                        @(Model[count].SeatName)
                                    </div>
                                }
                            }

                        }
                    </div>
                }
            </div>

            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <div>
                    <div class="movie-container">
                        <div class="movie-card">
                            <img src="/Contents/MovieImage/@movie.Image" alt="Movie 1">
                            <h3>@movie.MovieName</h3>
                            <strong>Time:</strong><span>@movie.Time minutes</span><br>

                            <strong>Type:</strong><span> @movie.Type</span><br>
                            <hr />
                            <strong>Cinema: </strong><span> @ViewBag.cinema</span><br>
                            <strong>Date: </strong><span> @showtime.StartTime.ToShortDateString()</span><br>
                            <strong>Start Time: </strong><span> @showtime.StartTime.ToString("HH:mm")</span><br>
                            <strong>Room No: </strong><span> @room.RoomNo</span><br>
                            <strong>Seats: &nbsp;</strong><span id="seats-text"> </span><br>
                            <hr />
                            @if (CurrentUser.TotalPoint > 0)
                            {
                                <div>
                                    <strong>Use Points: </strong><span>@CurrentUser.TotalPoint.GetValueOrDefault().ToString("#,##0.00")</span><strong>&nbsp;&nbsp;&nbsp;</strong>
                                    <label class="switch" for="use-point">
                                        <input onchange="usedPoint()" type="checkbox" id="use-point" />
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            }
                            <strong>Price: </strong><span id="price-text">0</span><strong> $</strong><br />
                            <hr />

                            <button class="btn btn-success btn-sm" style="display: none;" onclick="bookShowtime()" id="btn-book">Book</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-body">
            <div class="container mb-5 mt-3">
                <div class="container">
                    <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                            <thead style="background-color:#84B0CA ;" class="text-white">
                                <tr>
                                    <th scope="col">Movie Name</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">Seat</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Spider Man - No Way Home</td>
                                    <td>11-30-2024 19:00</td>
                                    <td>A1, A2, A3, A4</td>
                                    <td>$ 40</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <p class="text-muted">Invoice</p>
                            <ul class="list-unstyled">
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:</span>#123-456
                                </li>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: </span>Jun 23,2021
                                </li>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                        Unpaid
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <p class="text-muted">Invoice</p>
                            <ul class="list-unstyled">
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">ID:</span>#123-456
                                </li>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="fw-bold">Creation Date: </span>Jun 23,2021
                                </li>
                                <li class="text-muted">
                                    <i class="fas fa-circle" style="color:#84B0CA ;"></i> <span class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                        Unpaid
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr style="color: black;" />
                    <div style="color: black;" class="row">
                        <div class="col-xl-10">
                            <p>Thank you for your purchase</p>
                        </div>
                        <div class="col-xl-2">
                            <button type="button" class="btn btn-primary text-capitalize"
                                    style="background-color:#60bdf3 ;">
                                Pay Now
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AXokaFSOJiRvRJh1ypW4D4eQfn8_k7A8F-b5j5_57I6MxAf4c6FqvAOJuxLxh671qjEByzuL8e0QeWWt"></script>

    <script>
        // instance variable
        let selectedSeats = [];
        let seatText = [];
        let totalMoney = 0;
        let pointUsed = 0;

        $(function () {
            $(".place").click(function () {
                if ($(this).hasClass('normal')) {
                    $(this).toggleClass("active");
                } else {
                    $(this).toggleClass("active vip");
                }

            });
            $(".unbooked").attr("title", "Unbooked");
            $(".taken").attr("title", "Taken");
        });


        // function generatePurchase() {
        //     $('#paypal-button-container').html('');
        //     purchase_units = [
        //         {
        //             amount: {
        //                 currency_code: "USD",
        //                 value: parseFloat($('#price-text').text().trim()).toString(),
        //                 breakdown: {
        //                     item_total: { currency_code: "USD", value: "100" },
        //                 },
        //             },
        //             items: [
        //                 {
        //                     name: "Spider Man - No Way Home",
        //                     quantity: "1",
        //                     category: "PHYSICAL_GOODS",
        //                     unit_amount: { currency_code: "USD", value: parseFloat($('#price-text').text().trim()).toString() },
        //                 },
        //             ],
        //             description: 'Ghế đã chọn: A1, A2, A3, A4\nNgày chiếu: 11-03-2024 19:00', // Mô tả đơn hàng

        //         },
        //     ];
        //     paypal.Buttons({
        //         createOrder: function (data, actions) {
        //             // Truyền thông tin đơn hàng
        //             return actions.order.create({
        //                 purchase_units: purchase_units,
        //             });
        //         },
        //         onApprove: function (data, actions) {
        //             return actions.order.capture().then(function (details) {
        //                 if (details.status === "COMPLETED") {
        //                     bookShowtime();
        //                 }
        //             });
        //         },
        //     }).render('#paypal-button-container');
        // }

        function usedPoint() {
            var point = parseFloat($('#point').val());
            var total = '';
            if ($('#use-point').prop('checked') && totalMoney > 0) {
                if (totalMoney >= point) {
                    total = totalMoney - point;
                    pointUsed = point;
                }
                else {
                    total = 0;
                    pointUsed = totalMoney;
                }
                $('#price-text').html(total);
            } else {
                $('#price-text').html(totalMoney);
            }
        }

        function bookShowtime() {
            var data = {
                AccountId: $('#account-id').val(),
                ShowtimeId: $('#showtime-id').val(),
                Seats: seatText.toString(),
                BookingDate: $('#booking-date').val(),
                Price: totalMoney,
                Amount: parseFloat($('#price-text').text().trim()),
                PointUsed: pointUsed,
                SeatStatus: selectedSeats.toString(),
            };

            $.ajax({
                async: false,
                url: '/Booking/BookShowtime',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function getSelectedSeat(clickedDiv) {
            var seatId = $(clickedDiv).attr('id');
            var seatName = $(clickedDiv).text().trim();
            if ($(clickedDiv).hasClass('active') || $(clickedDiv).hasClass('occupied')) {
                selectedSeats = selectedSeats.filter(item => item !== seatId);
                seatText = seatText.filter(item => item !== seatName);
            } else {
                selectedSeats.push(seatId);
                seatText.push(seatName);
            }
            console.log(selectedSeats.toString());
            $('#seats-text').html(seatText.join(", "));
            getTotalPrice();
        }

        function getTotalPrice() {
            var data = {
                SelectedSeats: selectedSeats.toString()
            }

            $.ajax({
                async: false,
                url: '/Booking/GetTotalPrice',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log(data.price);
                    if (data.success) {
                        $('#price-text').html(data.price.toString());
                        $('#paypal-button-container').css('display', 'block');
                    } else {
                        $('#price-text').html('0');
                        $('#paypal-button-container').css('display', 'none');
                    }

                    totalMoney = data.price;
                    usedPoint();

                },
                error: function (mess) {
                    console.log(mess);
                }
            });
        }
    </script>
</body>
